body{
    min-width: 500px;
    height: 100vh;
}

.display{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;
}
.setting{
    margin: 15px;
}
.button{
    margin: 15px;
}
.button .btn{
    margin: 10px 15px;
}
.container h1{
    font-weight: 800;
    font-size: 250px;
    color: cadetblue;
    margin: 80px 10px;
}
.container{
    width: 100%;
    text-align: center;
}

.btn{
    color: mediumblue;
    width: 100px;
    height: 55px;
}

.setrange input[type="range" i]{
    width: 50%;
    max-width: 1000px;
    height: 60px;
}
.setrange input[type="text" i]{
    width: 150px;
    max-width: 700px;
    height: 40px;
    text-align: center;
}
.setrange{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.setlet{
    width: 80px;

}
.settext{
    font-size: 120%;
}

